{% extends 'base/baseTemplate.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i>Dashboard
        </div>
        <div class="panel-body">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="fa fa-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Noticias</h4>
                        </div>
                        <p>
                            <small class="text-muted">
                                <i class="fa fa-clock-o">
                                    06/09/2018
                                </i>
                            </small>
                        </p>
                        <div class="timeline-body">
                            <p>Pendiente de Implementar</p>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
{% endblock %}